@import "../../css/colors.css";

.modal-content {
    width: 400px;
}

.body {
    background: $ui-modal-background;
    padding: 1.5rem 2.25rem;
}

.body input[type="checkbox"],
.body input[type="radio"] {
    margin: 3px;
}

.text-input {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid var(--tw-dialog-border);
    border-radius: 0.375rem;
    padding: 0 1rem;
    height: 3rem;
    color: var(--tw-dialog-foreground);
    font-size: .875rem;
    background-color: var(--tw-dialog-input);
}

.button-row {
    font-weight: bolder;
    text-align: right;
}

.button-row button {
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    background: var(--tw-dialog-background);
    color: var(--tw-dialog-foreground);
    border: 1px solid var(--tw-dialog-border);
    font-weight: 500;
    font-size: 0.85rem;
}
.button-row button[disabled] {
    opacity: 0.5;
}
[dir="ltr"] .button-row button + button {
    margin-left: 0.5rem;
}

[dir="rtl"] .button-row button + button {
    margin-right: 0.5rem;
}

.button-row button.ok-button {
    background: var(--tw-dialog-primary);
    border-color: var(--tw-dialog-primary);
    color: var(--tw-dialog-primary-foreground);
}
.button-row button.cancel-button {
    color: var(--tw-dialog-foreground);
}

.help-text {
    margin-bottom: 1rem;
}

.must-change {
    font-weight: bold;
}
.reset-link {
    cursor: pointer;
}
